
<section class="content-header">
    <h1 class="text-primary">
      <strong>Cấu hình hệ thống nhân viên</strong>
    </h1>
    <br>
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-xs-6">
            <label class="col-xs-6">Chọn đơn vị cấu hình </label>
            <select class="col-xs-6" 
            ng-options="option.OFFICENAME for option in donVi_Config track by option.ORDERINDEX"
            ng-model="selectedOption"
            ng-click="selectdonvi(selectedOption,option=0)"
            >
            <option  value="" disabled  >Đơn vị cần cấu hình</option>

            </select>
          </div>

          <div class="col-xs-6">
            <label class="col-xs-3">Dịch vụ </label>
            <select class="col-xs-6" 
            ng-options="option.SERVICENAME for option in officeService_Config track by option.SERVICEID"
            ng-model="selectedService"
            ng-click="selectService(selectedService)"
            >
            <option value="" disabled>Chọn dịch vụ</option>>
            </select>
          </div>
        </div>

        <div class="row"><br></div>

        <div class="row">
          <div class="col-xs-6">
            <label class="col-xs-6"> Sắp xếp nhân viên phục vụ tại quầy </label>
            <select class="col-xs-6" 
            ng-options="option.COUNTERID for option in officeCounter_Config track by option.COUNTERID"
            ng-model="selectedCounter"
            ng-click="selectServiceCounter(selectedCounter)"
            >
            <option value="" disabled>Chọn quầy</option>>

            </select>
          </div>
        </div>
      </div>
    </div>
  
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-5 ">
        <div class="box">
          <div class="box-header" >
                  <label class="box-title">Danh sách nhân viên</label>
          </div>
          <!-- /.box-header -->
<!-- grid 1 -->
          <div class="box-body"  style="overflow-y:auto;" >
            <table  datatable="ng" dt-options="dtOptions_tables" dt-column-defs="dtColumnDefs" id="example2" class="table table-bordered bordered table-striped table-condensed">
              <thead>
                <tr ng-show="false">
                  <th>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" ></label>
                    </div>
                  </th>
                  <th>Quầy hiện tại</th>
                  <th>Nhân viên</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>
                        <div class="checkbox">
                          <label><input ng-click="allCheckBox1()"  type="checkbox" ng-model="allCheck1" ></label>
                        </div>
                      </th>
                      <th>Quầy hiện tại</th>
                      <th>Nhân viên</th>
                    </tr>
                <tr ng-repeat="staff in  staffs_grid1">
                  <td  >
                    <div class="checkbox">
                      <label><input type="checkbox" value="" ng-checked="allCheck1" ng-click="checkbox_grid1($index)" ></label>
                    </div>
                  </td>
                  <td>{{staff.QUAY}}</td>
                  <td>{{staff.NAME}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          </div>
          </div>
      <!-- /.col -->
<!-- button           -->
      <div class="col-xs-2" >
        <div class="col-xs-offset-4">
          <button class="btn btn-primary btn-lg"
           ng-click="update_right()"><i class="fa fa-angle-double-right" ></i>
               </button>
        </div>
        <br>
        <div class="col-xs-offset-4">
          <button class="btn btn-primary btn-lg"
          ng-click="update_left()"><i class="fa fa-angle-double-left"></i>
              </button>
        </div>
      </div>
<!-- table grid 2 -->
      <div class="col-xs-5" >
        <div class="box">
          <div class="box-header">
              <!-- <div class="col-xs-12">
                  <div class="col-xs-7"> -->
                     <label class="box-title"> Nhân viên tại quầy </label>
                  <!-- </div> -->
                   <!-- <div class="col-xs-5"> -->
                       <!-- <input  type="text" id="searchbox2" placeholder="Tìm theo Mã/Tên"> -->
                   <!-- </div>
                 </div> -->
          </div>
          <!-- /.box-header -->
         
          <div class="box-body" >
            
            <table datatable="ng" dt-options="dtOptions_tables" dt-column-defs="dtColumnDefs" id="example2" class="table table-bordered bordered table-striped table-condensed">
              <thead>
                <tr ng-show="false">
                  <th>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""></label>
                    </div>
                  </th>
                  <th>Nhân viên</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>
                        <div class="checkbox">
                          <label><input ng-click="allCheckBox2()"  type="checkbox" ng-model="allCheck2" ></label>
                        </div>
                      </th>
                      <th>Nhân viên</th>
                    </tr>
                <tr ng-repeat="staff in  staffs_grid2 ">
                  <td  >
                    <div class="checkbox">
                      <label><input type="checkbox" value="" ng-checked="allCheck2" ng-click="checkbox_grid2($index)" ></label>
                    </div>
                  </td>
                  <td>{{staff.NAME}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
      </div>
    <!-- /.row -->
  </section>
  

<!-- /.content -->