
<!-- được incluce vào trong trang user-quanly-cuahang -->
  
<form class="form-inline"  novalidate name="from_loadCong">
    <div style="overflow-x:auto;">  
<table  datatable="ng" dt-options="dtOptions_tables " dt-column-defs="dtColumnDefs" class="table  table-bordered bordered table-striped table-condensed">
   <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-primary"> <i><strong>Tổng Hợp Chấm Công Cửa Hàng</strong></i> </h3>
                <small>Khu Vực</small>
                <select  ng-click="selectKhuVuc_All(objSelected_KhuVuc)" name="objSelected" class="form-control" ng-model="objSelected_KhuVuc" ng-options="item.makhuvuc for item in dsKhuVuc" >
                      </select>
                <small>Cửa Hàng</small>
                <select  name="objSelected_cuaHang" class="form-control" ng-model="objSelected_cuaHang" ng-options="item.storename for item in dsCuahang" required>
                   <!-- <option  value="" >All</option> -->
                </select>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <form>
                <small >   <strong  class="text-primary">Từ Ngày</strong> </small>
                <input  type="date" class="form-control " name="startDate" ng-model="date.startDate" ng-value="date.startDate" required>
                <small><strong class="text-primary">Đến Ngày</strong></small>
                <input type="date" class="form-control " name="endDate" ng-model="date.endDate" ng-value="date.endDate" required>
                <button class="btn btn-success" ng-click="loadCong_AllnhanVien(date,objSelected_cuaHang,objSelected_KhuVuc)" 
                            ng-hide="
                                from_loadCong.objSelected_cuaHang.$error.required 
                         
                                   " >Tìm Kiếm</button>
            </form>
        </div>
        <thead>
                <tr>
                    <th class="text-center"> STT</th>
                    <th class="text-center">  Cửa Hàng Nhân Viên Đã Làm</th>
                    <th class="text-center"> Mã Cửa Hàng</th>
                    <th class="text-center">Ma Nv</th>
                    <th class="text-center">Tên Nv</th>
                    <th class="text-center"> Nhân Viên Thuộc Cửa Hàng </th>
                    <th class="text-center">Cấp Bậc</th>
                    <th class="text-center" >Từ Ngày</th>
                    <th class="text-center" >Đến Ngày</th>
                    <th class="text-center">Múc Lương </th>
                    <th class="text-center">Giờ Công </th>
                    <th class="text-center">Đào Tạo </th>
                    <th class="text-center"> Lương Công </th>
                    <th class="text-center">Phụ Cấp Điện Thoại </th>
                    <th class="text-center">Phụ Cấp Trách Nhiệm </th>
                    <th class="text-center">Phụ Cấp Chuyên Cần </th>
                    <th class="text-center">Thưởng </th>
                    <th class="text-center"> Lương </th>
                    <th class="text-center">Công Đoàn </th>
                    <th class="text-center">Phạt </th>
                    <th class="text-center">Trừ Khác </th>
                    <th class="text-center"> Trừ BHXH </th>
                    <th class="text-center">Tổng Lương </th>
                    <th class="text-center">Số Tk </th>
                    <th class="text-center" ><button type="button"  class="btn btn-info"
                        >Thêm</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cong in chamCongNv">
                    <td align="center">{{$last===true?null:$index+1 }}</td>
                    <td align="center">{{ cong.storename }}</td>
                    <td align="center">{{ cong.macuahang }}</td>
                    <td align="center">{{ cong.manhanvien }}</td>
                    <td align="center">{{ cong.tennhanvien }}</td>
                    <td align="center">{{ cong.cuahangnv }}</td>
                    <td align="center">{{ cong.vitri }}</td>
                    <td align="center" >{{$last===true?null:(date.startDate | date :"dd-MM-yyyy")}}</td>
                    <td align="center">{{$last===true?null:(date.endDate | date :"dd-MM-yyyy")}}</td>
                    <td align="center">{{ cong.mucluong | number }}</td>
                    <td align="center">{{ cong.giocongnv | number }}</td>
                    <td align="center">{{ cong.madaotao }}</td>
                    <td align="center">{{ cong.luongdaotao | number }}</td>
                    <td align="center">{{ cong.pc_dienthoai | number }}</td>
                    <td align="center">{{ cong.pc_trachnhiem | number }}</td>
                    <td align="center">{{ cong.chuyencan| number }}</td>
                    <td align="center">{{ cong.thuong | number }}</td>
                    <td align="center">{{ cong.luongphucap | number}}</td>
                    <td align="center">{{ cong.congdoan | number}}</td>
                    <td align="center">{{ cong.phat | number}}</td>
                    <td align="center">{{ cong.trukhac | number}}</td>
                    <td align="center">{{ cong.baohiem | number}}</td>
                    <td align="center">{{ cong.tongluong | number}}</td>
                    <td align="center">{{ cong.taikhoan}}</td>

                    <td align="center" ng-hide="$last===true?true:false">
                        <button type="button" ng-click="showDialogAdd_pc_kt($index)" > <i class="material-icons text-success">add</i></button>
                        <!-- <button  ng-hide="{{cong.ghichu===null?true:false}}" type="button" ng-click="showDialogReport($index)" > <i class="material-icons text-danger">report problem</i></button> -->
                    </td>
                </tr>
            </tbody>
</div>
</table>
</div>
</form>
