<div class="container" style="overflow-x:auto;">
    <h3 class="text-center">Xét Bảo Hiểm Xã Hội</h3>
    <form novalidate name="formPhucap">
        <div class="row">
            <div class="col-md-6 text-center">

                <small> <strong  class="text-primary">Mã Đào Tạo</strong> </small>
                <input type="text" class="form-control " name="mabaohiem" ng-model="daotao.madaotao"  required>
            </div>
           
        </div>

        <div class="row text-center">
            <div class="col-md-6 text-center">
                <small> <strong  class="text-primary">Trừ Lương(% Lương )</strong> </small>
                <input type="number" class="form-control " name="trudaotao" ng-model="daotao.trudaotao"  required>
            </div>
            <div class="col-md-6 text-center">
                <small> <strong  class="text-primary">Ghi Chú</strong> </small>
                <input type="text" class="form-control " name="ghichu" ng-model="daotao.ghichu"  required>
            </div>
        </div>



        <hr>
        <div >
            <div class="form-row text-center">
                <button class="btn btn-primary" ng-click="addDialog_daotao(daotao)" 
                ng-hide="formPhucap.madaotao.$error.required +
                formPhucap.trudaotao.$error.required +
                formPhucap.ghichu.$error.required ">Add</button>
                <button  class="btn btn-primary" ng-click="closeDialog()">Cancel</button>
            </div>
            <div class="form-row">
                <div class="alert alert-info" role="alert" 
                ng-show="formPhucap.madaotao.$error.required +
                formPhucap.trudaotao.$error.required +
                formPhucap.ghichu.$error.required ">
                    Bạn phải nhập đầy đủ thông tin mới được thêm 
                </div>
            </div>
        </div>
    </form>
</div>