<div class="container" style="overflow-x:auto;">
    <h3 class="text-center">Xét Bảo Hiểm Xã Hội</h3>
    <form novalidate name="formBHXh">
        <div class="row">
            <div class="col-md-6 text-center">

                <small> <strong  class="text-primary">Mã Bảo Hiểm</strong> </small>
                <input onkeydown="return false" type="text" class="form-control " name="mabaohiem" ng-model="bhxh.mabaohiem"  required>
            </div>
            <div class="col-md-6 text-center">
                <small> <strong  class="text-primary">Lương Bảo Hiểm</strong> </small>
                <input type="number" class="form-control " name="luongbaohiem" ng-model="bhxh.luongbaohiem"  required>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6 text-center">
                <small> <strong  class="text-primary">Trừ Bảo Hiểm(% Lương Bảo Hiểm)</strong> </small>
                <input type="number" class="form-control " name="trubaohiem" ng-model="bhxh.trubaohiem"  required>
            </div>
            <div class="col-md-6 text-center">
                <small> <strong  class="text-primary">Ghi Chú</strong> </small>
                <input type="text" class="form-control " name="ghichu" ng-model="bhxh.ghichu"  required>
            </div>
        </div>
        <hr>
        <div >
            <div class="form-row text-center">
                <button class="btn btn-primary" ng-click="updateDialog_EditBhxh(bhxh)" 
                ng-hide="formBHXh.mabaohiem.$error.required +
                formBHXh.luongbaohiem.$error.required +
                formBHXh.trubaohiem.$error.required +
                formBHXh.ghichu.$error.required ">Update</button>
                <button  class="btn btn-primary" ng-click="closeDialog()">Cancel</button>
              
            </div>
            <div class="form-row">
                <div class="alert alert-info" role="alert" 
                ng-show="formBHXh.mabaohiem.$error.required +
                formBHXh.luongbaohiem.$error.required +
                formBHXh.trubaohiem.$error.required +
                formBHXh.ghichu.$error.required ">
                    Bạn phải nhập đầy đủ thông tin mới được thêm 
                </div>
            </div>
        </div>
    </form>
</div>