<div>
    <md-dialog aria-label="List dialog">
    
        <h3 class="text-center">Thay Đổi Mật Khẩu </h3>
        <!-- action="/action_page.php" method="POST" -->
        <form  novalidate name="formchangepassword" >
            <div class="form-row text-center">
                <div class="form-group">
                    <label>username</label>
                    <input   type="text" name="user" class="form-control"  placeholder="" ng-model="changePass.user"  required>
                </div>
               
            </div>
            <div class="form-row text-center ">
           
             <div class="form-group ">
                 <label>Mật Khẩu Hiện Tại </label>
                 <input  type="password" name="password1" class="form-control"  placeholder="" ng-model="changePass.passwordOld"  required>
             </div>
         </div>
         <div class="form-row text-center ">
            
              <div class="form-group ">
                  <label>Mật Khẩu Mới </label>
                  <input  type="password" name="password2" class="form-control"  placeholder="" ng-model="changePass.passwordNew"  required>
              </div>
          </div>
      
       
          
            <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary" ng-click="changepassDialog_user(changePass)"
                    ng-hide="formchangepassword.user.$error.required + 
                    formchangepassword.password1.$error.required +
                    formchangepassword.password2.$error.required
                    " >Change </button>
                </div>
                <div class="form-group col-md-6">
                <button  class="btn btn-primary" ng-click="closeDialog()">Cancel</button>
            </div>
       </div>
            <div class="form-row" >
                    <div class="alert alert-info" role="alert"
                     ng-show="formchangepassword.user.$error.required + 
                     formchangepassword.password1.$error.required +
                     formchangepassword.password2.$error.required
                           ">
                    <p>Bạn phải nhập đầy đủ thông tin username và password mới có quyền thay đổi.</p> 
                 
                    </div>
                </div>
        </form>
    </md-dialog>
 </div>    