<br>

<section  class="content-header" >
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="text-primary" class="box-title"><b>Phiếu đăng ký cấp số trực tuyến</b> </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start  class="form-horizontal"-->
      <form novalidate name="formLaysotructuyen">
        <div class="box-body">
          <div ><b>1. Thông tin đăng ký giao dịch</b> </div>
          <br>
          <div class="row" class="form-group">
              <div class="col-xs-6">
                  <div class="col-xs-12">
                      <label >Đơn vị cần giao dịch</label>
                  </div>
                  <div class="col-xs-offset-3 col-xs-9">
                      <select 
                      ng-options="option.OFFICENAME for option in donVi_Config track by option.ORDERINDEX"
                      ng-model="selectedOption"
                      ng-click="selectdonvi(selectedOption)"
                      name="donvi"
                      required
                      >
                      <option  value="" disabled  >Đơn vị cần giao dịch</option>
                  </select>
                  </div>

            </div>
            
            <div class="col-xs-6">
                  <div class="col-xs-12">
                    <label>Dịch Vụ</label>
                 </div>
                 <div class="col-xs-offset-2 col-xs-10">
                    <select   
                    ng-options="option.SERVICENAME for option in officeService_callNumber track by option.SERVICEID"
                      ng-model="selectedService"
                      ng-click="selectServiceNumber(selectedService)"
                      name="dichvu"
                      required
                      >
                     <option value="" disabled>Chọn dịch vụ</option>>
                     </select>
                 </div>
            </div>
      </div>
       <div class="row" ng-show="showNumber">
          <br>
       </div>
         

          <div class="row" class="form-group" ng-show="showNumber">
              <div class="col-xs-6">
                  <div class=" col-xs-7">
                      <label >Số lương đang chờ</label>
                  </div>
                  <div class="col-xs-5">
                      <label class=" control-label  text-primary">{{  waitCustomer }} khách hàng</label>
                  </div>

            </div>
            
            <div class="col-xs-6">
                  <div class="col-xs-7">
                    <label>Phục vụ trung bình</label>
                </div>
                <div class="col-xs-5">
                    <label class=" control-label text-primary" >  {{ avgService}}  phút</label> 
                </div>
            </div>
          </div>
<br>

          

          <div class="row">
            <div class="col-xs-12">
                <b>2. Thông tin khách hàng đăng ký giao dịch</b> 
            </div>
             
          </div>
         
          <br>
          <div class="form-group">
            <label class="col-xs-4 control-label">Họ & Tên</label>
            <div class="col-xs-4">
              <input type="text" ng-model="Info.ho" name="ho" class="form-control" placeholder="Nhập họ" required> </input>
            </div>
            <div class="col-xs-4">
              <input type="text" ng-model="Info.ten" name="ten" class="form-control" placeholder="Nhập tên" required> </input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">Địa Chỉ</label>
            <div class="col-xs-8">
              <input type="text" ng-model="Info.diachi" name="diachi" class="form-control" placeholder="Địa chỉ khách hàng" required> </input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">Email</label>
            <div class="col-xs-8">
              <input type="email" ng-model="Info.email" name="email" class="form-control" placeholder="Email khách hàng" required> </input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">CMND</label>
            <div class="col-xs-8">
              <input type="number" ng-model="Info.cmnd" name="cmnd" class="form-control" placeholder="Số chứng minh nhân dân/thẻ căn cước" required> </input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">Di động</label>
            <div class="col-xs-8">
              <input type="number" ng-model="Info.didong" name="didong" class="form-control" placeholder="Số điện thoại di động liên hệ" required> </input>
            </div>
          </div>
        

          <div class="row">
              <div class="col-xs-12">
                  <b>3.Chọn mã xác thực</b> 
              </div>
            </div>
          
          <br>
            <div class="row" class="form-group">
                <div class="col-xs-4"   ng-bind-html="maCaptcha">
                  </div>

                  <div class="col-xs-4" >
                    <input type="text"  ng-model="Info.valueCaptcha" name="captcha" class="form-control" placeholder="Nhập mã captcha" required> </input>
                  </div>
                  <div class="col-xs-4">
                    <button ng-click="getCaptcha()" type="button" class="btn btn-primary">Đổi mã khác</button>
                  </div>

            </div>
      
        <!-- /.box-body -->
        <div class="row">
            <div class=" text-center" class="form-group">
                <button class="btn btn-primary " type="button"  ng-click="capSo(Info)"
                ng-disabled="
                formLaysotructuyen.donvi.$error.required  + 
                formLaysotructuyen.dichvu.$error.required +
                formLaysotructuyen.ho.$error.required     +
                formLaysotructuyen.ten.$error.required    +
                formLaysotructuyen.diachi.$error.required +
                formLaysotructuyen.email.$error.required  +
                formLaysotructuyen.cmnd.$error.required   +
                formLaysotructuyen.didong.$error.required +
                formLaysotructuyen.captcha.$error.required 
                " 
                >Cấp Số</button>
                <button class="btn btn-primary " type="button" > Reset</button>
              </div>

        </div>
      
        <!-- /.box-footer -->
      </form>
    </div>
    <!-- /.content -->

</section>
